Diet_A_Empirical_frac_new_output.tsv
Diet_A_Literature_frac_new_output.tsv
Diet_C_Empirical_frac_new_output.tsv
Diet_C_Literature_frac_new_output.tsv
Diet_F_Empirical_frac_new_output.tsv
Diet_F_Literature_frac_new_output.tsv
Diet_G_Empirical_frac_new_output.tsv
Diet_G_Literature_frac_new_output.tsv
.idea
